.grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(3, 340px);
  gap: 25px 25px;
}
.project {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 21.25rem;
  border-radius: 8px;
  box-shadow: 0 -1px 4px 0 rgba(25, 32, 36, 0.04),
    0 3px 6px 0 rgba(25, 32, 36, 0.16);
  transition: transform 450ms;
}
.display {
  display: none;
}
.project:hover .display {
  display: block;
  margin-bottom: 0.625rem;
}
.project:hover .project-title {
  display: none;
}
.project:hover {
  border: 1px solid #363f45;
  transform: scale(1.08);
}
.project-title {
  font-size: 2rem;
  font-weight: bold;
  color: #192024;
}

.information {
  font-size: 1rem;
  width: 80%;
  font-weight: normal;
  color: #192024;
}
.stack {
  width: 80%;
  font-size: 0.875rem;
  font-weight: normal;
  color: #5a6872;
}

.link {
  border: 1px solid #ffcb00;
  border-radius: 10px;
  padding: 0.438rem 0.875rem;
  background-color: white;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: normal;
  color: #192024;
  cursor: pointer;
}
.link:hover {
  background: #ffcb00;
  color: white;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(1, 25rem);
    grid-template-rows: repeat(3, 21.25rem);
    gap: 25px 25px;
  }
}
@media screen and (max-width: 450px) {
  .grid {
    grid-template-columns: repeat(1, 18.75rem);
    grid-template-rows: repeat(3, 15rem);
    gap: 25px 25px;
  }
  .project {
    width: 18.75rem;
    height: 15rem;
  }
}
