
.about{
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: -3em auto;
  max-width: 70%;
}

.text h2{
  font-weight: lighter;
}
.title{
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.btnContainer{

margin-top: 2em;
}

.btn{
  border-radius: 1em;
  padding: 12px 20px;
  border: solid #FFCB00;
  font-weight: bold;
  border-width: 1px;
  color: #FFCB00;
  cursor: pointer;
}
.btn:hover{
  background-color:#FFCB00 ;
  color: white;
}


@media screen and (max-width: 960px) {

 
  /* about */
  .about{
    margin: 1em auto 5em;
    max-width: 85%;

  }
  .text h2{
    font-size: 1.3em;
  }


}


