

.projects{
  display: flex;
  box-sizing:border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 4em;
}



@media screen and (max-width: 960px) {
     /* projects */
    .projects{
      margin: 2em auto;
      max-width: 90%;
      display: flex;
      


  }
  .grid{
    grid-template-columns: 25em ;
    grid-row-gap: 3em;
  
  }
  .item1{
      height: 8em;
      padding:1em;
      border-radius:10px;
      color:black;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:40px;
      font-family:sans-serif;
      flex-direction: column;
  }
  .paragraph{
    font-size: 0.4em;
    font-weight:100;
    }

    .technologies{
      margin: 1.5em 0.5em;
      display:none;
      font-size: 0.2em;
      font-weight: bold;
      color:#FFCB00;
      
    }
    .project-title{
      font-size: 1.3em;
     
    }
    .link{
      font-size: 0.3em;
      border-radius: 1em;
      padding: 10px 15px;
    }
}


